@charset "utf-8";

$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Roboto Mono", monospace;
$primary: #632626;
$link: #bf8b67;

// Import Bulma for customization from the variables set above.
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";
@import "../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";

// Custom styles
